* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(242, 249, 255);
}

.nav {
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    vertical-align: text-bottom;
    padding-top: 20px;
    margin: 0;
    animation: pulse 5s infinite;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.nav li {
    float: right;
}

#jesse {
      float: left;
      font-size: 30px;
}
  
.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:link {
      text-decoration: none;
      color:rgb(75, 75, 91);
}

.nav a:visited {
      text-decoration: none;
      color: rgb(75, 75, 91);
}

.nav a:hover {
    animation: pulse 5s infinite alternate;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 200px;
    width: 100%;
}

hr {
    background-color: rgb(75, 75, 91);
    border: none;
    height: 5px;
    padding: 0;
    margin: 0;
}

@keyframes pulse {
    0% {
        color: pink;
    }
    100% {
        color: royalblue
    }
}